{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-prisma",
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "overrides": [
    {
      "files": "*.prisma",
      "options": {
        "parser": "prisma-parse"
      }
    }
  ]
}
